In [1]:
import pandas as pd
import numpy as np

In [4]:
data = {
    'CHN': {'COUNTRY': 'China', 'POP': 1_398.72, 'AREA': 9_596.96,
            'GDP': 12_234.78, 'CONT': 'Asia'},
    'IND': {'COUNTRY': 'India', 'POP': 1_351.16, 'AREA': 3_287.26,
            'GDP': 2_575.67, 'CONT': 'Asia', 'IND_DAY': '1947-08-15'},
    'USA': {'COUNTRY': 'US', 'POP': 329.74, 'AREA': 9_833.52,
            'GDP': 19_485.39, 'CONT': 'N.America',
            'IND_DAY': '1776-07-04'},
    'IDN': {'COUNTRY': 'Indonesia', 'POP': 268.07, 'AREA': 1_910.93,
            'GDP': 1_015.54, 'CONT': 'Asia', 'IND_DAY': '1945-08-17'},
    'BRA': {'COUNTRY': 'Brazil', 'POP': 210.32, 'AREA': 8_515.77,
            'GDP': 2_055.51, 'CONT': 'S.America', 'IND_DAY': '1822-09-07'},
    'PAK': {'COUNTRY': 'Pakistan', 'POP': 205.71, 'AREA': 881.91,
            'GDP': 302.14, 'CONT': 'Asia', 'IND_DAY': '1947-08-14'},
    'NGA': {'COUNTRY': 'Nigeria', 'POP': 200.96, 'AREA': 923.77,
            'GDP': 375.77, 'CONT': 'Africa', 'IND_DAY': '1960-10-01'},
    'BGD': {'COUNTRY': 'Bangladesh', 'POP': 167.09, 'AREA': 147.57,
            'GDP': 245.63, 'CONT': 'Asia', 'IND_DAY': '1971-03-26'},
    'RUS': {'COUNTRY': 'Russia', 'POP': 146.79, 'AREA': 17_098.25,
            'GDP': 1_530.75, 'IND_DAY': '1992-06-12'},
    'MEX': {'COUNTRY': 'Mexico', 'POP': 126.58, 'AREA': 1_964.38,
            'GDP': 1_158.23, 'CONT': 'N.America', 'IND_DAY': '1810-09-16'},
    'JPN': {'COUNTRY': 'Japan', 'POP': 126.22, 'AREA': 377.97,
            'GDP': 4_872.42, 'CONT': 'Asia'},
    'DEU': {'COUNTRY': 'Germany', 'POP': 83.02, 'AREA': 357.11,
            'GDP': 3_693.20, 'CONT': 'Europe'},
    'FRA': {'COUNTRY': 'France', 'POP': 67.02, 'AREA': 640.68,
            'GDP': 2_582.49, 'CONT': 'Europe', 'IND_DAY': '1789-07-14'},
    'GBR': {'COUNTRY': 'UK', 'POP': 66.44, 'AREA': 242.50,
            'GDP': 2_631.23, 'CONT': 'Europe'},
    'ITA': {'COUNTRY': 'Italy', 'POP': 60.36, 'AREA': 301.34,
            'GDP': 1_943.84, 'CONT': 'Europe'},
    'ARG': {'COUNTRY': 'Argentina', 'POP': 44.94, 'AREA': 2_780.40,
            'GDP': 637.49, 'CONT': 'S.America', 'IND_DAY': '1816-07-09'},
    'DZA': {'COUNTRY': 'Algeria', 'POP': 43.38, 'AREA': 2_381.74,
            'GDP': 167.56, 'CONT': 'Africa', 'IND_DAY': '1962-07-05'},
    'CAN': {'COUNTRY': 'Canada', 'POP': 37.59, 'AREA': 9_984.67,
            'GDP': 1_647.12, 'CONT': 'N.America', 'IND_DAY': '1867-07-01'},
    'AUS': {'COUNTRY': 'Australia', 'POP': 25.47, 'AREA': 7_692.02,
            'GDP': 1_408.68, 'CONT': 'Oceania'},
    'KAZ': {'COUNTRY': 'Kazakhstan', 'POP': 18.53, 'AREA': 2_724.90,
            'GDP': 159.41, 'CONT': 'Asia', 'IND_DAY': '1991-12-16'}
}

In [37]:
df=pd.DataFrame(data).T

In [9]:
df.head(5)

       COUNTRY      POP     AREA       GDP       CONT     IND_DAY
CHN      China  1398.72  9596.96  12234.78       Asia         NaN
IND      India  1351.16  3287.26   2575.67       Asia  1947-08-15
USA         US   329.74  9833.52  19485.39  N.America  1776-07-04
IDN  Indonesia   268.07  1910.93   1015.54       Asia  1945-08-17
BRA     Brazil   210.32  8515.77   2055.51  S.America  1822-09-07

In [10]:
df.to_json('country_data.json')
# stored in .json file

In [17]:
temp=df.to_json(orient='columns')
# stored in temporary format

In [18]:
import json

In [19]:
parsed=json.loads(temp)

In [20]:
json.dumps(parsed)

'{"COUNTRY": {"CHN": "China", "IND": "India", "USA": "US", "IDN": "Indonesia", "BRA": "Brazil", "PAK": "Pakistan", "NGA": "Nigeria", "BGD": "Bangladesh", "RUS": "Russia", "MEX": "Mexico", "JPN": "Japan", "DEU": "Germany", "FRA": "France", "GBR": "UK", "ITA": "Italy", "ARG": "Argentina", "DZA": "Algeria", "CAN": "Canada", "AUS": "Australia", "KAZ": "Kazakhstan"}, "POP": {"CHN": 1398.72, "IND": 1351.16, "USA": 329.74, "IDN": 268.07, "BRA": 210.32, "PAK": 205.71, "NGA": 200.96, "BGD": 167.09, "RUS": 146.79, "MEX": 126.58, "JPN": 126.22, "DEU": 83.02, "FRA": 67.02, "GBR": 66.44, "ITA": 60.36, "ARG": 44.94, "DZA": 43.38, "CAN": 37.59, "AUS": 25.47, "KAZ": 18.53}, "AREA": {"CHN": 9596.96, "IND": 3287.26, "USA": 9833.52, "IDN": 1910.93, "BRA": 8515.77, "PAK": 881.91, "NGA": 923.77, "BGD": 147.57, "RUS": 17098.25, "MEX": 1964.38, "JPN": 377.97, "DEU": 357.11, "FRA": 640.68, "GBR": 242.5, "ITA": 301.34, "ARG": 2780.4, "DZA": 2381.74, "CAN": 9984.67, "AUS": 7692.02, "KAZ": 2724.9}, "GDP": {"CHN": 12234.78, "IND": 2575.67, "USA": 19485.39, "IDN": 1015.54, "BRA": 2055.51, "PAK": 302.14, "NGA": 375.77, "BGD": 245.63, "RUS": 1530.75, "MEX": 1158.23, "JPN": 4872.42, "DEU": 3693.2, "FRA": 2582.49, "GBR": 2631.23, "ITA": 1943.84, "ARG": 637.49, "DZA": 167.56, "CAN": 1647.12, "AUS": 1408.68, "KAZ": 159.41}, "CONT": {"CHN": "Asia", "IND": "Asia", "USA": "N.America", "IDN": "Asia", "BRA": "S.America", "PAK": "Asia", "NGA": "Africa", "BGD": "Asia", "RUS": null, "MEX": "N.America", "JPN": "Asia", "DEU": "Europe", "FRA": "Europe", "GBR": "Europe", "ITA": "Europe", "ARG": "S.America", "DZA": "Africa", "CAN": "N.America", "AUS": "Oceania", "KAZ": "Asia"}, "IND_DAY": {"CHN": null, "IND": "1947-08-15", "USA": "1776-07-04", "IDN": "1945-08-17", "BRA": "1822-09-07", "PAK": "1947-08-14", "NGA": "1960-10-01", "BGD": "1971-03-26", "RUS": "1992-06-12", "MEX": "1810-09-16", "JPN": null, "DEU": null, "FRA": "1789-07-14", "GBR": null, "ITA": null, "ARG": "1816-07-09", "DZA": "1962-07-05", "CAN": "1867-07-01", "AUS": null, "KAZ": "1991-12-16"}}'

In [21]:
temp=df.to_json(orient='values')

In [22]:
parsed=json.loads(temp)

In [23]:
json.dumps(parsed,indent=4)

'[\n    [\n        "China",\n        1398.72,\n        9596.96,\n        12234.78,\n        "Asia",\n        null\n    ],\n    [\n        "India",\n        1351.16,\n        3287.26,\n        2575.67,\n        "Asia",\n        "1947-08-15"\n    ],\n    [\n        "US",\n        329.74,\n        9833.52,\n        19485.39,\n        "N.America",\n        "1776-07-04"\n    ],\n    [\n        "Indonesia",\n        268.07,\n        1910.93,\n        1015.54,\n        "Asia",\n        "1945-08-17"\n    ],\n    [\n        "Brazil",\n        210.32,\n        8515.77,\n        2055.51,\n        "S.America",\n        "1822-09-07"\n    ],\n    [\n        "Pakistan",\n        205.71,\n        881.91,\n        302.14,\n        "Asia",\n        "1947-08-14"\n    ],\n    [\n        "Nigeria",\n        200.96,\n        923.77,\n        375.77,\n        "Africa",\n        "1960-10-01"\n    ],\n    [\n        "Bangladesh",\n        167.09,\n        147.57,\n        245.63,\n        "Asia",\n        "1971-03-26"\n    ],\n    [\n        "Russia",\n        146.79,\n        17098.25,\n        1530.75,\n        null,\n        "1992-06-12"\n    ],\n    [\n        "Mexico",\n        126.58,\n        1964.38,\n        1158.23,\n        "N.America",\n        "1810-09-16"\n    ],\n    [\n        "Japan",\n        126.22,\n        377.97,\n        4872.42,\n        "Asia",\n        null\n    ],\n    [\n        "Germany",\n        83.02,\n        357.11,\n        3693.2,\n        "Europe",\n        null\n    ],\n    [\n        "France",\n        67.02,\n        640.68,\n        2582.49,\n        "Europe",\n        "1789-07-14"\n    ],\n    [\n        "UK",\n        66.44,\n        242.5,\n        2631.23,\n        "Europe",\n        null\n    ],\n    [\n        "Italy",\n        60.36,\n        301.34,\n        1943.84,\n        "Europe",\n        null\n    ],\n    [\n        "Argentina",\n        44.94,\n        2780.4,\n        637.49,\n        "S.America",\n        "1816-07-09"\n    ],\n    [\n        "Algeria",\n        43.38,\n        2381.74,\n        167.56,\n        "Africa",\n        "1962-07-05"\n    ],\n    [\n        "Canada",\n        37.59,\n        9984.67,\n        1647.12,\n        "N.America",\n        "1867-07-01"\n    ],\n    [\n        "Australia",\n        25.47,\n        7692.02,\n        1408.68,\n        "Oceania",\n        null\n    ],\n    [\n        "Kazakhstan",\n        18.53,\n        2724.9,\n        159.41,\n        "Asia",\n        "1991-12-16"\n    ]\n]'

In [24]:
df.to_json('country_data.json',orient='index')

In [30]:
df=pd.read_json('country_data.json',orient='records')

In [32]:
df.T

        COUNTRY      POP      AREA       GDP       CONT     IND_DAY
CHN       China  1398.72   9596.96  12234.78       Asia        None
IND       India  1351.16   3287.26   2575.67       Asia  1947-08-15
USA          US   329.74   9833.52  19485.39  N.America  1776-07-04
IDN   Indonesia   268.07   1910.93   1015.54       Asia  1945-08-17
BRA      Brazil   210.32   8515.77   2055.51  S.America  1822-09-07
PAK    Pakistan   205.71    881.91    302.14       Asia  1947-08-14
NGA     Nigeria   200.96    923.77    375.77     Africa  1960-10-01
BGD  Bangladesh   167.09    147.57    245.63       Asia  1971-03-26
RUS      Russia   146.79  17098.25   1530.75       None  1992-06-12
MEX      Mexico   126.58   1964.38   1158.23  N.America  1810-09-16
JPN       Japan   126.22    377.97   4872.42       Asia        None
DEU     Germany    83.02    357.11    3693.2     Europe        None
FRA      France    67.02    640.68   2582.49     Europe  1789-07-14
GBR          UK    66.44     242.5   2631.23     Europe        None
ITA       Italy    60.36    301.34   1943.84     Europe        None
ARG   Argentina    44.94    2780.4    637.49  S.America  1816-07-09
DZA     Algeria    43.38   2381.74    167.56     Africa  1962-07-05
CAN      Canada    37.59   9984.67   1647.12  N.America  1867-07-01
AUS   Australia    25.47   7692.02   1408.68    Oceania        None
KAZ  Kazakhstan    18.53    2724.9    159.41       Asia  1991-12-16

In [33]:
dir(json)

['JSONDecodeError',
 'JSONDecoder',
 'JSONEncoder',
 '__all__',
 '__author__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 '_default_decoder',
 '_default_encoder',
 'codecs',
 'decoder',
 'detect_encoding',
 'dump',
 'dumps',
 'encoder',
 'load',
 'loads',
 'scanner']

In [36]:
dir(json.dumps)

['__annotations__',
 '__call__',
 '__class__',
 '__closure__',
 '__code__',
 '__defaults__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__get__',
 '__getattribute__',
 '__globals__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__kwdefaults__',
 '__le__',
 '__lt__',
 '__module__',
 '__name__',
 '__ne__',
 '__new__',
 '__qualname__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__']

In [38]:
dtypes={'POP':'float64','AREA':'float64','GDP':'float64','IND_DAY':'datetime64'}

In [39]:
df.columns

Index(['COUNTRY', 'POP', 'AREA', 'GDP', 'CONT', 'IND_DAY'], dtype='object')

In [41]:
df=pd.DataFrame(data).T.astype(dtype=dtypes)

In [42]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 20 entries, CHN to KAZ
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   COUNTRY  20 non-null     object
 1   POP      20 non-null     float64
 2   AREA     20 non-null     float64
 3   GDP      20 non-null     float64
 4   CONT     19 non-null     object
 5   IND_DAY  14 non-null     datetime64[ns]
dtypes: datetime64[ns](1), float64(3), object(2)
memory usage: 1.1+ KB

In [43]:
!pip install sqlalchemy

Defaulting to user installation because normal site-packages is not writeable
Collecting sqlalchemy
  Downloading SQLAlchemy-1.4.23-cp38-cp38-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.5 MB)
     |████████████████████████████████| 1.5 MB 658 kB/s eta 0:00:01
Collecting greenlet!=0.4.17
  Downloading greenlet-1.1.1-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (150 kB)
     |████████████████████████████████| 150 kB 1.1 MB/s eta 0:00:01
Installing collected packages: greenlet, sqlalchemy
Successfully installed greenlet-1.1.1 sqlalchemy-1.4.23

In [44]:
from sqlalchemy import create_engine
# sqlalchemy lib is usefull to create connection with your db like mysql,postgres etc
# python comes with sqlite

In [46]:
engine=create_engine('sqlite:///country_data.db',echo=True)
# for sqlite

In [47]:
df.to_sql('country_data.db',con=engine,if_exists='replace')

2021-08-26 11:25:05,604 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("country_data.db")
2021-08-26 11:25:05,605 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-08-26 11:25:05,607 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("country_data.db")
2021-08-26 11:25:05,607 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-08-26 11:25:05,610 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-08-26 11:25:05,611 INFO sqlalchemy.engine.Engine
CREATE TABLE "country_data.db" (
	"index" TEXT,
	"COUNTRY" TEXT,
	"POP" FLOAT,
	"AREA" FLOAT,
	"GDP" FLOAT,
	"CONT" TEXT,
	"IND_DAY" DATETIME
)


2021-08-26 11:25:05,612 INFO sqlalchemy.engine.Engine [no key 0.00072s] ()
2021-08-26 11:25:05,760 INFO sqlalchemy.engine.Engine CREATE INDEX "ix_country_data.db_index" ON "country_data.db" ("index")
2021-08-26 11:25:05,761 INFO sqlalchemy.engine.Engine [no key 0.00052s] ()
2021-08-26 11:25:05,817 INFO sqlalchemy.engine.Engine COMMIT
2021-08-26 11:25:05,828 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-08-26 11:25:05,836 INFO sqlalchemy.engine.Engine INSERT INTO "country_data.db" ("index", "COUNTRY", "POP", "AREA", "GDP", "CONT", "IND_DAY") VALUES (?, ?, ?, ?, ?, ?, ?)
2021-08-26 11:25:05,838 INFO sqlalchemy.engine.Engine [generated in 0.00273s] (('CHN', 'China', 1398.72, 9596.96, 12234.78, 'Asia', None), ('IND', 'India', 1351.16, 3287.26, 2575.67, 'Asia', '1947-08-15 00:00:00.000000'), ('USA', 'US', 329.74, 9833.52, 19485.39, 'N.America', '1776-07-04 00:00:00.000000'), ('IDN', 'Indonesia', 268.07, 1910.93, 1015.54, 'Asia', '1945-08-17 00:00:00.000000'), ('BRA', 'Brazil', 210.32, 8515.77, 2055.51, 'S.America', '1822-09-07 00:00:00.000000'), ('PAK', 'Pakistan', 205.71, 881.91, 302.14, 'Asia', '1947-08-14 00:00:00.000000'), ('NGA', 'Nigeria', 200.96, 923.77, 375.77, 'Africa', '1960-10-01 00:00:00.000000'), ('BGD', 'Bangladesh', 167.09, 147.57, 245.63, 'Asia', '1971-03-26 00:00:00.000000')  ... displaying 10 of 20 total bound parameter sets ...  ('AUS', 'Australia', 25.47, 7692.02, 1408.68, 'Oceania', None), ('KAZ', 'Kazakhstan', 18.53, 2724.9, 159.41, 'Asia', '1991-12-16 00:00:00.000000'))
2021-08-26 11:25:05,841 INFO sqlalchemy.engine.Engine COMMIT

In [50]:
!pip install pymysql

Defaulting to user installation because normal site-packages is not writeable
Collecting pymysql
  Downloading PyMySQL-1.0.2-py3-none-any.whl (43 kB)
     |████████████████████████████████| 43 kB 186 kB/s eta 0:00:011
Installing collected packages: pymysql
Successfully installed pymysql-1.0.2

In [63]:
import pymysql
hostname="localhost"
dbname="test"
uname="root"
pwd="vin@22Des"
engine2=create_engine(f'mysql+mysqldb://{uname}:{pwd}@127.0.0.1/{dbname}',echo=False)

In [64]:
df.to_sql('country_data.db',con=engine2,if_exists='replace')

OperationalError: (MySQLdb._exceptions.OperationalError) (2005, "Unknown MySQL server host '22Des@127.0.0.1' (22)")
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [65]:
df=pd.read_sql('country_data.db',con=engine)

2021-08-26 11:42:10,521 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("country_data.db")
2021-08-26 11:42:10,523 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-08-26 11:42:10,525 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2021-08-26 11:42:10,526 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-08-26 11:42:10,528 INFO sqlalchemy.engine.Engine PRAGMA main.table_xinfo("country_data.db")
2021-08-26 11:42:10,529 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-08-26 11:42:10,532 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2021-08-26 11:42:10,533 INFO sqlalchemy.engine.Engine [raw sql] ('country_data.db',)
2021-08-26 11:42:10,535 INFO sqlalchemy.engine.Engine PRAGMA main.foreign_key_list("country_data.db")
2021-08-26 11:42:10,536 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-08-26 11:42:10,537 INFO sqlalchemy.engine.Engine PRAGMA temp.foreign_key_list("country_data.db")
2021-08-26 11:42:10,538 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-08-26 11:42:10,539 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2021-08-26 11:42:10,541 INFO sqlalchemy.engine.Engine [raw sql] ('country_data.db',)
2021-08-26 11:42:10,543 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("country_data.db")
2021-08-26 11:42:10,544 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-08-26 11:42:10,545 INFO sqlalchemy.engine.Engine PRAGMA main.index_info("ix_country_data.db_index")
2021-08-26 11:42:10,546 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-08-26 11:42:10,547 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("country_data.db")
2021-08-26 11:42:10,548 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-08-26 11:42:10,549 INFO sqlalchemy.engine.Engine PRAGMA main.index_info("ix_country_data.db_index")
2021-08-26 11:42:10,550 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-08-26 11:42:10,551 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2021-08-26 11:42:10,551 INFO sqlalchemy.engine.Engine [raw sql] ('country_data.db',)
2021-08-26 11:42:10,555 INFO sqlalchemy.engine.Engine SELECT "country_data.db"."index", "country_data.db"."COUNTRY", "country_data.db"."POP", "country_data.db"."AREA", "country_data.db"."GDP", "country_data.db"."CONT", "country_data.db"."IND_DAY"
FROM "country_data.db"
2021-08-26 11:42:10,555 INFO sqlalchemy.engine.Engine [generated in 0.00083s] ()

In [66]:
df

   index     COUNTRY      POP      AREA       GDP       CONT    IND_DAY
0    CHN       China  1398.72   9596.96  12234.78       Asia        NaT
1    IND       India  1351.16   3287.26   2575.67       Asia 1947-08-15
2    USA          US   329.74   9833.52  19485.39  N.America 1776-07-04
3    IDN   Indonesia   268.07   1910.93   1015.54       Asia 1945-08-17
4    BRA      Brazil   210.32   8515.77   2055.51  S.America 1822-09-07
5    PAK    Pakistan   205.71    881.91    302.14       Asia 1947-08-14
6    NGA     Nigeria   200.96    923.77    375.77     Africa 1960-10-01
7    BGD  Bangladesh   167.09    147.57    245.63       Asia 1971-03-26
8    RUS      Russia   146.79  17098.25   1530.75       None 1992-06-12
9    MEX      Mexico   126.58   1964.38   1158.23  N.America 1810-09-16
10   JPN       Japan   126.22    377.97   4872.42       Asia        NaT
11   DEU     Germany    83.02    357.11   3693.20     Europe        NaT
12   FRA      France    67.02    640.68   2582.49     Europe 1789-07-14
13   GBR          UK    66.44    242.50   2631.23     Europe        NaT
14   ITA       Italy    60.36    301.34   1943.84     Europe        NaT
15   ARG   Argentina    44.94   2780.40    637.49  S.America 1816-07-09
16   DZA     Algeria    43.38   2381.74    167.56     Africa 1962-07-05
17   CAN      Canada    37.59   9984.67   1647.12  N.America 1867-07-01
18   AUS   Australia    25.47   7692.02   1408.68    Oceania        NaT
19   KAZ  Kazakhstan    18.53   2724.90    159.41       Asia 1991-12-16

In [72]:
df=df['index'].drop(columns=['index'],inplace=True)

In [75]:
df=pd.DataFrame(data,).T.astype(dtype=dtypes)

In [76]:
df.head(2)

    COUNTRY      POP     AREA       GDP  CONT    IND_DAY
CHN   China  1398.72  9596.96  12234.78  Asia        NaT
IND   India  1351.16  3287.26   2575.67  Asia 1947-08-15

In [77]:
df.to_pickle('country.pickle')
# convert into byte stream

In [78]:
unpickled_df=pd.read_pickle('country.pickle')

In [79]:
unpickled_df.head(10)

        COUNTRY      POP      AREA       GDP       CONT    IND_DAY
CHN       China  1398.72   9596.96  12234.78       Asia        NaT
IND       India  1351.16   3287.26   2575.67       Asia 1947-08-15
USA          US   329.74   9833.52  19485.39  N.America 1776-07-04
IDN   Indonesia   268.07   1910.93   1015.54       Asia 1945-08-17
BRA      Brazil   210.32   8515.77   2055.51  S.America 1822-09-07
PAK    Pakistan   205.71    881.91    302.14       Asia 1947-08-14
NGA     Nigeria   200.96    923.77    375.77     Africa 1960-10-01
BGD  Bangladesh   167.09    147.57    245.63       Asia 1971-03-26
RUS      Russia   146.79  17098.25   1530.75        NaN 1992-06-12
MEX      Mexico   126.58   1964.38   1158.23  N.America 1810-09-16

In [91]:
df=pd.DataFrame(data).T

In [92]:
df.head(5)

       COUNTRY      POP     AREA       GDP       CONT     IND_DAY
CHN      China  1398.72  9596.96  12234.78       Asia         NaN
IND      India  1351.16  3287.26   2575.67       Asia  1947-08-15
USA         US   329.74  9833.52  19485.39  N.America  1776-07-04
IDN  Indonesia   268.07  1910.93   1015.54       Asia  1945-08-17
BRA     Brazil   210.32  8515.77   2055.51  S.America  1822-09-07

In [82]:
ser=pd.Series(np.random.randn(5),index=['A','B','C','D','F'],dtype=int)

In [83]:
ser

A    0.713467
B   -0.206174
C    2.537013
D   -0.172657
F   -0.936864
dtype: float64

In [85]:
!pip install tables

Defaulting to user installation because normal site-packages is not writeable
Collecting tables
  Downloading tables-3.6.1-cp38-cp38-manylinux1_x86_64.whl (4.3 MB)
     |████████████████████████████████| 4.3 MB 529 kB/s eta 0:00:01
Requirement already satisfied: numpy>=1.9.3 in /home/agua2de/.local/lib/python3.8/site-packages (from tables) (1.21.2)
Collecting numexpr>=2.6.2
  Downloading numexpr-2.7.3-cp38-cp38-manylinux2010_x86_64.whl (473 kB)
     |████████████████████████████████| 473 kB 1.3 MB/s eta 0:00:01
Installing collected packages: numexpr, tables
Successfully installed numexpr-2.7.3 tables-3.6.1

In [93]:
df.to_hdf('HDF_data.h5',key='df',nan_rep=np.nan,index=True)

/home/agua2de/.local/lib/python3.8/site-packages/pandas/core/generic.py:2703: PerformanceWarning:
your performance may suffer as PyTables will pickle object types that it cannot
map directly to c-types [inferred_type->mixed,key->block0_values] [items->Index(['COUNTRY', 'POP', 'AREA', 'GDP', 'CONT', 'IND_DAY'], dtype='object')]

  pytables.to_hdf(

In [94]:
ser.to_hdf('HDF_data.h5',key='ser')

In [95]:
df=pd.read_hdf('HDF_data.h5','df')

In [96]:
df.head(4)

       COUNTRY      POP     AREA       GDP       CONT     IND_DAY
CHN      China  1398.72  9596.96  12234.78       Asia         NaN
IND      India  1351.16  3287.26   2575.67       Asia  1947-08-15
USA         US   329.74  9833.52  19485.39  N.America  1776-07-04
IDN  Indonesia   268.07  1910.93   1015.54       Asia  1945-08-17

In [97]:
ser=pd.read_hdf('HDF_data.h5','ser')

In [98]:
ser

A    0.713467
B   -0.206174
C    2.537013
D   -0.172657
F   -0.936864
dtype: float64